# .env.example

# Database
DB = carspecs_db
DB_USER=carspecs_admin
DB_PASSWORD=change-me
DB_HOST=db
DB_PORT=5432

# Redis
REDIS_URL=redis://redis:6379/0

# Django settings 
SECRET_KEY=replace-with-secure-random-key
JWT_SIGNING_KEY=replace-with-shared-jwt-signing-key
NEXT_PUBLIC_ENABLE_MASTERS=true
DEBUG=True
ALLOWED_HOSTS=*

# External APIs
NHTSA_API_URL=https://vpic.nhtsa.dot.gov/api/vehicles/DecodeVin/
