asgiref==3.11.1
boto3==1.40.59
Django==6.0.2
django-cors-headers==4.7.0
django-filter==25.2
django-storages==1.14.6
djangorestframework==3.16.1
djangorestframework-simplejwt==5.5.0
gunicorn==25.1.0
packaging==26.0
Pillow==11.3.0
psycopg2-binary==2.9.11
python-decouple==3.8
sqlparse==0.5.5
tzdata==2025.3
